
@model IEnumerable<MediLinkCB.Models.Patient>

<h2>Patient Records</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table styled-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PatientName)</th>
            <th>@Html.DisplayNameFor(model => model.PatientSurname)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.PatientHeight)</th>
            <th>@Html.DisplayNameFor(model => model.PatientWeight)</th>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.Race)</th>
            <th>@Html.DisplayNameFor(model => model.Disability)</th>
            <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
            <th>@Html.DisplayNameFor(model => model.CellNumber)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                <td>@Html.DisplayFor(modelItem => item.PatientSurname)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => item.PatientHeight)</td>
                <td>@Html.DisplayFor(modelItem => item.PatientWeight)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.Race)</td>
                <td>@Html.DisplayFor(modelItem => item.Disability)</td>
                <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.CellNumber)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SaID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SaID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SaID })
                </td>
            </tr>
        }
    </tbody>
</table>


